<app-layout-auth>
  <ng-container *ngIf='isLoading '>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-container>
  <form (ngSubmit)="signIn($event)" [formGroup]="signInForm">
    <h2 class="text-center montserrat bold primary">
      INGRESA A TU CUENTA
    </h2>
    <div class="center_inputs">
      <div>
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput type="email" formControlName='emailField' name="user" required>
        </mat-form-field>
        <app-form-error [control]='email'></app-form-error>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName='passwordField' name="pass" required>
        </mat-form-field>
        <app-form-error [control]='password'></app-form-error>
      </div>
    </div>
    <button class="submit" type="submit" [disabled]="!signInForm.valid">
      INGRESAR
    </button>
    <div class="font-12 underline">
      <p>
        Olvidé mi PIN
      </p>
      <p>
        Olvide mi número de celular empresarial
      </p>
    </div>
  </form>


</app-layout-auth>