<app-layout>
    <div>
        <h2>
            Consultas - COMPRAS Con el cofre
        </h2>
    </div>
    <form>
        <div >
            <img src="assets/icon/calendar.svg" alt="exit">
            <mat-form-field appearance="standard">
                <mat-label>Filtro de rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <div>
                <img src="assets/icon/search.svg" alt="exit">
                <mat-form-field appearance="standard" >
                    <mat-label>Campo</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let field of fields"  [value]="field.value">
                        {{field.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="search_container">
                <mat-form-field class="search" >
                    <mat-label>Buscar</mat-label>
                    <input matInput >
                </mat-form-field>
        </div>
        <div class="bold buttons_container">
            <button class="btn-primary montserrate font-16">
                Limpiar filtros
            </button>
            <button class="btn-secondary montserrate font-16">
                Buscar
            </button>
        </div>
    </form>
    <div>
        <table mat-table [dataSource]="dataSource" >    

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Nombre. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Cel </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Fecha de Compra </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Edad </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <app-pagination></app-pagination>
          <button class="btn-primary bold">
                Descargar Excel
          </button>
    </div>
</app-layout>