<app-header></app-header>
<div class="layout_container">
    <div>
        <nav>
            <p>menu</p>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </nav>
        <ul>
            <li class="logout">
                <img src="assets/icon/cerrar_sesion.svg" alt="exit">
                Cerrar sesión
            </li>
        </ul>
    </div>
    <main>
        <ng-content></ng-content>
    </main>
</div>

