@import "colors"

form
  padding: 0 5em

  .center_inputs
    text-align: center

  mat-form-field.mat-form-field
    font-size: 14px
    font-weight: normal
    width: 250px
    color: #9F9F9F

  .submit
    background: $secondary-color
    padding: .65em 2em
    border-radius: 2em
    margin: 1em 0
    border: none
    color: $primary-color
    font: normal normal bold 14px/13px montserrat

  .underline
    text-decoration: underline
.w-100
  width: 100% !important

.errors_container
  text-align: left
  color: red
  font-size: .89em
  text-transform: capitalize
  